<aside class="mobile-menu-overlay" id="mobileOverlay"></aside>

<aside class="mobile-menu" id="mobileMenu">
  <div class="mobile-menu-header">
    <div class="mobile-menu-logo">
      <img src="/images/logo-escuela.png" alt="Logo de escuela esperanza" />
    </div>

    <button class="close-menu-btn" id="closeMenuBtn" aria-label="Cerrar menú" type="button">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <nav class="mobile-menu-nav">
    <a href="#">INICIO</a>
    <a href="#">QUIÉNES SOMOS</a>
    <a href="#">NOTICIAS</a>
    <a href="#">CONTACTO</a>
  </nav>
</aside>
